.god_images img {
    max-width:100%;
    width:32%;
}
.nav-title {
    text-align: center;
    margin: 10px 0;
}
#nav-small-text {
    font-size:10px;
}
#nav-big-text {
    font-size:30px;
    color: #a637ca;
    font-family: 'Allura', cursive;
    text-shadow: 1px 1px 16px rgb(10 255 255 / 20%)
    }
#god-right-img {
    text-align: right;
}
.bannerimg img{
    width: 100%;
  max-width: 1146px;
  position: relative;
    /*width: 1146px;*/
}
.button-img {
    position: absolute;
    top: 67%;
    right: 255px;
    font-size:75px !important;
    color:red;
}
.countdownbox {
    border-radius: 25px;
    border: 2px solid #ffffff;
    margin:2%;
    padding:4%;
    background-color:#241ac2a6;
}
#countdown span {
font-size:14px;
}

.col-centered {
    float: none;
    margin: 2px auto;
    font-family: 'Yellowtail', cursive;
    font-size:36px;
    text-align: center;
}
.countdowntitle {
    margin-top:2%;
}
.col-date {
float: none;
    margin: 2px auto;
    font-family: 'Yellowtail', cursive;
    text-align: center;
}
.bottom_right_img img {
    max-width:100%;
    height:200px;
    width:200px;
}
.bottom_left_img img {
    max-width:100%;
    height:200px;
    width:200px;
}

.bottom-txt {
    text-align: center;
    margin-top: 10px;
}
.bottom-txt article{
    text-align: center;
    margin: 1% auto;
    margin-top: 2%;
    font-family: 'Yellowtail', cursive;
    font-weight: 400;
    font-size: 15px;
}
.bottom_right_img {
text-align: right;
}

.bottom_left_img {
text-align: center;
}
#hidden {
    visibility:hidden;
    }
#play {
    margin-top:30px;
}
.col-xs-2-4 {
    width:20,37%
}
.bottom-repsonive {
margin-bottom: 10px;
}

.clearfix {
  overflow: auto;
}
.text-days {
    font-size: 38px !important;
}
.day-sub {
    font-size: 13px !important;
}


/* resposnive starts here */
@media only screen and (max-width: 360px) {
.god_images img {
    width: auto;
}
#nav-big-text {
    font-size: 21px;
}
.button-img {
    position: absolute;
    top: 66%;
    right: 77px;
    font-size: 48px !important;
}

.countdownbox {
    border: 2px solid #ffffff !important;
    margin:0 !important;
    margin-top:3px !important;
    padding:1% !important;
    text-align:center;
}
.text-days {
    font-size: 24px !important;
}
.day-sub {
    font-size: 8px !important;
}
.bottom-txt article {
    font-size: 11px;
}
.bannerimg img{
    width: 100%;
    position:relative;
    /*width: 1146px;*/
}
.clearfix {
  overflow: auto;
}

} /*360 width and height 740 */

@media only screen (min-width:361px) and (max-width: 400px) {
.god_images img {
    width: auto;
}
#nav-big-text {
    font-size: 16px;
}
.button-img {
    position: absolute;
    top: 66%;
    right: 86px;
    font-size: 48px !important;
}

.countdownbox {
    border: 2px solid #ffffff !important;
    margin:0 !important;
    margin-top:3px !important;
    padding:1% !important;
    text-align:center;
}
.text-days {
    font-size: 24px !important;
}
.day-sub {
    font-size: 8px !important;
}
.bottom-txt article {
    font-size: 12px;
}
.bannerimg img{
    width: 100%;
    position:relative;
    /*width: 1146px;*/
}
.clearfix {
  overflow: auto;
}

} /*400 width and height 740 */

@media only screen and (min-width: 421px) and (max-width: 600px){
.god_images img {
    width: auto;
}
#nav-big-text {
    font-size: 32px;
}
#nav-small-text {
    font-size: 15px;
}
.button-img {
    position: absolute;
    top: 67%;
    right: 130px;
    font-size: 48px !important;
}

.countdownbox {
    border: 2px solid #ffffff !important;
    margin:0 !important;
    margin-top:3px !important;
    padding:1% !important;
    text-align:center;
}
.text-days {
    font-size: 24px !important;
}
.day-sub {
    font-size: 8px !important;
}
.bottom-txt article {
    font-size: 14px;
}
.bannerimg img{
    width: 100%;
    position:relative;
    /*width: 1146px;*/
}
.clearfix {
  overflow: auto;
}

} /*400 to 600px width and height 740 */

@media only screen and (min-width: 401px) and (max-width: 420px){
.god_images img {
    width: auto;
}
#nav-big-text {
    font-size: 26px;
}
#nav-small-text {
    font-size: 15px;
}
.button-img {
    position: absolute;
    top: 67%;
    right: 90px;
    font-size: 48px !important;
}

.countdownbox {
    border: 2px solid #ffffff !important;
    margin:0 !important;
    margin-top:3px !important;
    padding:1% !important;
    text-align:center;
}
.text-days {
    font-size: 24px !important;
}
.day-sub {
    font-size: 8px !important;
}
.bottom-txt article {
    font-size: 13px;
}
.bannerimg img{
    width: 100%;
    position:relative;
    /*width: 1146px;*/
}
.clearfix {
  overflow: auto;
}

} /*400 to 600px width and height 740 */

@media only screen and (min-width: 601px) and (max-width: 912px){
.god_images img {
    width: auto;
}
#nav-big-text {
    font-size: 50px;
}
#nav-small-text {
    font-size: 20px;
}
.button-img {
    position: absolute;
    top: 67%;
    right: 168px;
    font-size: 48px !important;
}

.countdownbox {
    border: 2px solid #ffffff !important;
    margin:0 !important;
    margin-top:3px !important;
    padding:1% !important;
    text-align:center;
}
.text-days {
    font-size: 24px !important;
}
.day-sub {
    font-size: 8px !important;
}
.bottom-txt article {
    font-size: 11px;
}
.bannerimg img{
    width: 100%;
    position:relative;
    /*width: 1146px;*/
}
.clearfix {
  overflow: auto;
}

} /*400 to 600px width and height 740 */

