<!--font-family: 'Pacifico', cursive;-->
<!DOCTYPE html>
<html>
<head>
    <title>My Wedding</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link  rel="stylesheet" href ="/static/style.css">
        <script src="/static/myscript.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Allura&family=Comforter&family=Dancing+Script:wght@400;500;700&family=Open+Sans:ital,wght@0,500;1,800&family=Pacifico&family=Sedgwick+Ave&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-xs-3 god_images">
                <img src="{{ user_image }}" alt="User Image">
            </div> <!-- left image -->

             <div class="col-xs-6">
                <div class="row nav-title">
                    <span id="nav-small-text">Sri Vinayaka</span>
                </div>
                 <div class="row nav-title">
                    <span id="nav-big-text" class="font-effect-emboss">Wedding Invitation</span>
                </div>
            </div>  <!--/* title *//-->

            <div class="col-xs-3 god_images" id="god-right-img">
                <img src="{{ user_image }}" alt="User Image">
            </div> <!-- right img -->

        </div>
    </div> <!--nav container -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 bannerimg">
                <img src="{{ scroll_image}}" alt="bannerimg" class="responsive">
            </div>
        </div>
    </div> <!-- bannerimg-->

    <div class ="container">
<!--        <div class="row">-->
<!--            <div class="col-xs-6 col-centered">-->
<!--                <span>We Are Getting Married!</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-xs-6 col-date">-->
<!--                <span>16th Feb 2022</span>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            <div class="col-xs-10 col-xs-offset-2">
                <div id="countdown"></div>
            </div>
        </div>
    </div> <!-- countdown container-->

    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-xs-offset-2 bottom_left_img">
                <img src="{{ bottom_left_img }}" alt="Sruthi">
            </div>
            <div class="col-xs-2 bottom-txt">
                <span> We warmly invite you and your family to join us as we start a new journey of life together. Your presence will be a blessing to us.</span>
                <button type="button" class="btn btn-primary btn-md active" id="play">Audio Invetation</button>
<!--                <button style="font-size:24px" id="play"><i class="fa fa-play-circle-o"></i>Audio Invetation</button>-->
            </div>
            <div class="col-xs-3 bottom_right_img">
                <img src="{{ bottom_right_img }}" alt="Hari">
            </div>
        </div>
    </div>
    <article id="hidden">
    <h1>With our sincere invitation, we (hari)and sruthi cordially invite you to come to our wedding ceremony on 16th-February-2022 at silka grand near srikanya thearte viskhapatanam by 8:45pm </h1>
    </article>


</body>
</html>