<!--font-family: 'Pacifico', cursive;-->
<!DOCTYPE html>
<html>
<head>
    <title>My Wedding</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link  rel="stylesheet" href ="/static/style.css">
        <script src="/static/myscript.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-xs-3 god_images">
                <img src="{{ user_image }}" alt="User Image">
            </div> <!-- left image -->

             <div class="col-xs-6">
                <div class="row nav-title">
                    <span id="nav-small-text">Sri Vinayaka</span>
                </div>
                 <div class="row nav-title">
                    <span id="nav-big-text" class="font-effect-emboss">Wedding Invitation</span>
                </div>
            </div>  <!--/* title *//-->

            <div class="col-xs-3 god_images" id="god-right-img">
                <img src="{{ user_image }}" alt="User Image">
            </div> <!-- right img -->

        </div>
    </div> <!--nav container -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 bannerimg">
                <img src="{{ scroll_image}}" alt="bannerimg">
            </div>
        </div>
    </div> <!-- bannerimg-->

    <div class ="container">
        <div class="row">
            <div class="col-xs-6 col-centered">
                <span>We Are Getting Married!</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-date">
                <span>16th Feb 2022</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-2">
                <div id="countdown"></div>
            </div>
        </div>
    </div> <!-- countdown container-->


</body>
</html>