<!DOCTYPE html>
<html>
<head>
    <title>Wedding Invitation</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0; user-scalable=0;' name='viewport' ">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link  rel="stylesheet" href ="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Allura&family=Comforter&family=Dancing+Script:wght@400;500;700&family=Open+Sans:ital,wght@0,500;1,800&family=Pacifico&family=Sedgwick+Ave&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="/static/myscript.js"></script>
    <script>
        function onReady(callback) {
    var intervalId = window.setInterval(function() {
    if (document.getElementsByTagName('body')[0] !== undefined) {
      window.clearInterval(intervalId);
      callback.call(this);
    }
  }, 3000);
}

function setVisible(selector, visible) {
  document.querySelector(selector).style.display = visible ? 'block' : 'none';
}

onReady(function() {
  setVisible('.page', true);
  setVisible('#loading', false);
});
    </script>
</head>
<body>
    <div id="loading"></div>
    <div class="page">
    <div class="container">
        <div class="row">

            <div class="col-xs-3 god_images">
                <img src="{{ user_image }}" alt="User Image">
            </div> <!-- left image -->

             <div class="col-xs-6">
                <div class="row nav-title">
                    <span id="nav-small-text">Sri Vinayaka</span>
                </div>
                 <div class="row nav-title">
                    <span id="nav-big-text" class="font-effect-emboss">Wedding Invitation</span>
                </div>
            </div>  <!--/* title *//-->

            <div class="col-xs-3 god_images" id="god-right-img">
                <img src="{{ user_image }}" alt="User Image">
            </div> <!-- right img -->

        </div>
    </div> <!--nav container -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 bannerimg">
                <img src="{{ scroll_image}}" alt="bannerimg" class="responsive">
                <a href="https://youtu.be/0NV5F7aPsTM" class="fa fa-youtube-play button-img"></a>
            </div>
        </div>
    </div> <!-- bannerimg-->

    <div class="clearfix"></div>

    <div class ="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-2 col-xs-12">
                <div id="countdown"></div>
            </div>
        </div>
    </div> <!-- countdown container-->

    <div class="container">
        <div class="row bottom-repsonive">
            <div class="col-sm-3 col-xs-4 col-sm-offset-2 bottom_left_img">
                <img src="{{ bottom_left_img }}" alt="Sruthi">
            </div>
            <div class="col-sm-2 col-xs-4 bottom-txt">
                <article> We warmly invite you and your family to join us as we start a new journey of life together. Your presence will be a blessing to us.</article>
                <audio id="player" src="{{ audio_link }}"></audio>
                <div style="margin-top:10px;">
                    <button onclick="document.getElementById('player').play()" class="btn btn-primary btn-md active btnsize">Audio Invitation</button>
                </div>
            </div>
            <div class="col-sm-3 col-xs-4 bottom_right_img">
                <img src="{{ bottom_right_img }}" alt="Hari">
            </div>
        </div>
    </div>
    </div> <!-- loading -->
</body>
</html>